.Header{

  border-radius: 30px 30px 0px 0px;

  min-height: 8vh;
  min-width: 90vw;

  display: flex;


  color: white;

  background-color: #4ce300;
}

.text-area{

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0px 60px 0px 60px;

  width: 100%;
}

.ScreenName{

  display: inline-block;

  font-size: 20pt;
  font-weight: bold;


}

.ScreenMap{

  display: inline-block;

  font-size: 16pt;
  font-weight: bold;

}
