.Menu{

  float: right;

  padding-right: 20pt;
  padding-left: 10pt;

  height: 100%;
  min-width: 100px;

  background-color: #4ce300;

  border-radius: 0 0 30px 0;

  color: white;
  font-size: 15pt;
  font-weight: bolder;
}


