.Menu{

  float: right;


  padding-left: 10pt;

  height: 100%;
  min-width: 100px;
  width: 16.3%;

  background-color: #4ce300;

  border-radius: 0 0 30px 0;

  color: white;
  font-size: 15pt;
  font-weight: bolder;
}


