.Menu{

  position: relative;

  float: right;

  padding-left: 10pt;
  padding-right: 15pt;


  /*95.3%*/

  height: auto;

  min-width: max-content;

  background-color: #4ce300;

  border-radius: 0 0 30px 0;

  color: white;
  font-size: 15pt;
  font-weight: bolder;
}

.Menu h2 {

  padding-bottom: 20px;
  padding-top: 20px
}

.Menu .section--item{
  padding-left: 10px;
}


