.Summary {

/*  margin-left: 45px; */
  margin-bottom: 20pt;

}

.Summary .menu--section{

  border-radius: 10px;

  padding-left: 10px;

  border-style: solid;
  border-width: 10px 0 10px 0;
  border-color: #08da94;
}

.Summary .Link-Button a {

  color: #0f9b0f;
}


.Summary{

}

.Summary--itens{

}
