
.Home--Display{

  position: relative;

  /*justify-content: space-between;*/

  width: 100%;

}

.Home--Section{

  display: inline-block;
  width: 79%;

}

.Home-page--title{

  margin-top: 100px;
  text-align: center;

  font-size: 30pt;
}



