
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');


.Home--Display{
  display: flex;

  justify-content: space-between;

  width: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

.Home--Section{

  position: relative;

  float: left;

  table-layout: fixed;


  line-height: normal;


}

.Home-page--title{

  margin-top: 100px;

}

.Home-page--title h1 {

  font-family: 'Berkshire Swash', cursive;
  font-size: 50px;
  text-align: center;

  color: #08da94;
  text-shadow: 1px 1px black;

}

.Home-page--title h2 {

  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;

  margin-left: 30px;

  color: #08da94;
  text-shadow: 1px 1px black;

}


.Summary {

  margin-left: 45px;
  margin-bottom: 20pt;

}

.Summary .menu--section{

  border-radius: 10px;

  padding-left: 10px;

  border-style: solid;
  border-width: 10px 0 10px 0;
  border-color: #08da94;
}

.Summary .Link-Button a {

  color: #0f9b0f;
}
