
.App-body {

  background-image: linear-gradient(to bottom, #29FFC6 ,
  #00F260);


  line-height: 0;

  min-height: 100vh;

  scroll-behavior: smooth;

}

.Pane{

  position: relative;

  margin-top: -10vh;

/*
  padding: 20px;

*/

  padding: 0px;

  background-color: white;

  color: black;

  border-style: solid;
  border-width: 2px;
  border-radius: 32px;
  border-color: #4ce300;

  z-index: 999;

  max-width: 90vw;

  height: max-content;

  word-wrap: break-word;
}



.gradient{

  padding: 5vh 10vw 5vh 10vw;

  min-height: 100vh;
  display: flex;

  justify-content: center;

  background-image: linear-gradient(to bottom, #fc5602, transparent 125%);
}



#Tio-Misa--banner {



  width: 100vw;

}
