

.App-body {

  background-image: linear-gradient(to bottom, #29FFC6 ,
  #00F260);


  line-height: 0;

  min-height: 100vh;

  scroll-behavior: smooth;


}

html{
  scroll-behavior: smooth;
}

.Pane{

  position: relative;

  margin-top: -10vh;

/*
  padding: 20px;

*/

  padding: 0px;

  background-color: white;

  color: black;

  box-shadow: 0px 0px 50px #4ce300;

  border-radius: 32px;

  /*
  border-style: solid;
  border-width: 2px;

  border-color: #4ce300;
  */



  max-width: 90vw;

  height: max-content;

  word-wrap: break-word;

  transition: all ease-in-out 1s;
}



.gradient{

  padding: 5vh 10vw 5vh 10vw;

  min-height: 100vh;
  display: flex;

  justify-content: center;

  background-image: linear-gradient(to bottom, #fc5602, transparent 150%);
}



#Tio-Misa--banner {



  width: 100vw;

}
