
.App-body {

  background-image: linear-gradient(to bottom, #29FFC6 ,
  #00F260);


  line-height: 0;



}

.Pane{


  position: relative;

  margin-bottom: 1000px;

  float: top;

  background-color: black;

  z-index: 999;

}

header {


}


.gradient{


  background-image: linear-gradient(to bottom, #fc5602 , transparent);
}



#Tio-Misa--banner {



  width: 100vw;

}
