
#Content--Display{

  display: flex;

  justify-content: space-between;

  width: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;


}



.Content--Section{

  position: relative;

  float: left;

  table-layout: fixed;


 line-height: normal;


}


.Menu {

  height: auto;

}

