
.Content--Display{

  position: relative;

  /*justify-content: space-between;*/

  width: 100%;


  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.Content--Section{

  max-width: 79%;

  position: relative;

  float: left;

  table-layout: fixed;


 line-height: normal;

}

.content--menu{

  background-color: aqua;
  height: 100%;
}


