
#Content--Display{

  display: flex;

  justify-content: space-between;

  width: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;


}



.Content--Section{

  position: relative;

  float: left;

  table-layout: fixed;


 line-height: normal;


}


.Menu {

  height: auto;

}

.content-summary--area .menu--section{

  border-radius: 10px;

  padding-left: 10px;

  border-style: solid;
  border-width: 10px 0 10px 0;
  border-color: #08da94;
}

.content-summary--area .Link-Button a {

  color: #0f9b0f;
}
