
.Credits--Display{

  display: flex;

  justify-content: space-between;

  width: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

.Credits--Section{

 position: relative;

  float: left;

  table-layout: fixed;

 line-height: normal;

 width: 100%;

}

.Card-Function {

  font-weight: 400;
}

#Samuel--Card {
  color: #4ce300;
  position: relative;

  width: 100%;

  float: right;

  padding-left: 30px;

  border-radius: 8px 0px 0px 20px ;

/*>background-image: linear-gradient(to left, #4ce300, #740ecd);*/

background-image: linear-gradient(to left, #4ce300 , black 60%);
}

#Samuel--Card img {

  float: right;

  /*
  border-style: solid;
  border-color: blueviolet;
  border-width: 3px;
  border-radius: 100%;
  */

  margin-right: -40px;

  max-width: 400px;
  max-height: 400px;
}

#Samuel--Card .Card-Title {

  font-size: 20pt;
}

#Samuel--Card .Card-Function{

  max-width: 100%;

  padding-left: 15px;
  margin-top: -20px;
}
