
.Credits--Display{

  display: flex;

  justify-content: space-between;

  width: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

.Credits--Section{

 position: relative;

  float: left;

  table-layout: fixed;

 line-height: normal;

 width: 100%;

}


/*
 //////////////////// Samuel Card /////////////////////
*/

#Samuel--Card {

  color: #4ce300;
  position: relative;

  width: 100%;

  float: right;

  padding-left: 30px;

  border-radius: 8px 0px 0px 20px ;

/*>background-image: linear-gradient(to left, #4ce300, #740ecd);*/

  background-image: linear-gradient(to left, #4ce300 , black 60%);
}

#Samuel--Card img {

  float: right;

  /*
  border-style: solid;
  border-color: blueviolet;
  border-width: 3px;
  border-radius: 100%;
  */

  margin-right: -40px;

  max-width: 68%;
  max-height: 68%;
}

#Samuel--Card .Link-Button {

  width: 40px;
  height: 40px;

  display:inline-block;

  margin-right: 18px;
}

#Samuel--Card .Link-Button:hover .Link-Button--border-bar{

  margin-top: -10px;
  margin-left: 3px;

  width: 85%;
  height: 2pt;

  border-radius: 25px;

  background-color: #4ce300;

}


/*
 ////////////////////////////////////////////////////
*/
