.Link-Button a {

  text-decoration: none;

  color: black;

  font-weight: bold;
  font-size: 17pt;

  transition: all ease-in-out 0.3;
}

.Link-Button--border-bar{

  width: 0px;
  height: 0px;

  background-color: white;

  transition: all ease-in-out 0.4s;
}

.Link-Button:hover .Link-Button--border-bar{

  width: 100%;
  height: 4pt;

  border-radius: 25px;

  background-color: aqua;

}

.Link-Button--icon {

  border-radius: 100%;

  float: left;
}
