
.Teacher-Card {

  min-width: max-content;

}

.Teacher-Card * {
  position:relative;
}

.TeacherCard--Iframe{

  float: right;

  height: 100%;

  border-radius: 30%;

  padding-top: 10px;
}

.TeacherCard--Details{


}

.TeacherCard--Name{

  font-size: 24pt;

}

.TeacherCard--Title{

  margin-top: -60px;
  padding-left: 20px;
  padding-bottom: 10px;
}
