
.TeacherCard--Iframe{

  float: right;

  height: 100%;

  border-radius: 30%;
}

.TeacherCard--Details{

  float: left;
}

.TeacherCard--Name{

  font-size: 24pt;

}

.TeacherCard--Title{

  margin-top: -40px;
  padding-left: 20px;
}
