.App {
  text-align: center;

  color: white;
}

.App-header {

/*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
*/

}

.App-body {

  background-color: #fc5602;
  width: 100%;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

/*

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

*/
